a {
	color: lightgrey;
}

body {
	background-color: black;
	color: grey;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
}

.footer {
	text-align: center;
}

.header {
	text-align: center;
}

.image {
	clear: left;
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
}

.large {
	font-size: 32px;
}

.navigation {
	text-align: center;
	padding-bottom: 20px;
}

.navitem {
	padding: 10px 30px;
}

.postheader {
	text-align: left;
	margin-top: 20px;
}

.postitem {
	text-align: left;
	margin-left: 50px;
}

.subheader {
	text-align: center;
	padding-bottom: 20px;
}
